In [1]:
import pandas as pd
data = pd.read_excel("Results of ITC.xlsx")
data

  Temperature       25       30
0           N     1.16     1.07
1           K     2.14     2.70
2          ΔH  3431.00  4160.00
3          ΔS    35.90    38.60

In [5]:
pt=data.to_latex(column_format='|c|c|c|',
                  float_format='%.2f',
                  index=False)
print(pt)

\begin{tabular}{|c|c|c|}
\toprule
Temperature & 25 & 30 \\
\midrule
N & 1.16 & 1.07 \\
K & 2.14 & 2.70 \\
ΔH & 3431.00 & 4160.00 \\
ΔS & 35.90 & 38.60 \\
\bottomrule
\end{tabular}